---
import '../styles/global.css';
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic Meta Tags -->
<title>Choose A Picture</title>
<meta
        name="choose a picture"
        content="A minimalistic picture selector."
/>
<meta name="sc1zox" content="github.com/sc1zox" />

<!-- Favicons -->
<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />


<!-- Canonical URL -->
<link rel="canonical" href="https://www.yourwebsite.com/" />

<!-- Additional SEO -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#3E433E" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />



<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />