<header>
    <div class="max-w-xl mx-auto text-center py-24">
        <h1 class="text-base-800 font-medium md:text-4xl text-3xl">
            Bild auswählen, Formular ausfüllen - fertig!
        </h1>
    </div>
</header>