---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="de">
<head>
    <BaseHead />
</head>
<body class="bg-white max-w-6xl mx-auto px-8 lg:px-12 flex flex-col">
<main class="grow"><slot /></main>
</body>
</html>